# ignore environment variables to keep them private
.env

# ignore virtual environment
.venv/

# ignore dataset
dataset/
model/

# ignore python cache and ide-specific files
.vscode/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log