/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    font-family: "Fredoka", sans-serif;
}

/* Header */
header {
    background-color: #de7a22;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
}

nav ul li {
    margin: 0 15px;
}

.icon-container {
    flex-grow: 1;
    height: 60px;
}

.nav-item {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-family: "Fredoka", sans-serif;
}

.nav-item a:hover {
    background-color: #e68a00;
    border-radius: 5px;
}

.icon {
    width: 150px;
    height: 150px;
    margin-top: -47px;
}

/* Main content */
main {
    margin-top: 60px; /* Para dejar espacio para el header fijo */
    flex: 1; /* Para que el main ocupe el espacio disponible */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.intro, .history, .team, .values, .goals, .impact {
    margin-bottom: 40px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.values ul {
    list-style: none;
    padding: 0;
}

.values li {
    background-color: #ff9800;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

blockquote {
    font-style: italic;
    color: #20948b;
    border-left: 5px solid #20948b;
    padding-left: 10px;
    margin: 20px 0;
}

/* Footer */
footer {
    background: linear-gradient(to right, #20948b, #7c7b78);
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-col {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: "Fredoka", sans-serif;
}

.footer-col h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background-color: #ffffff;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-family: "Fredoka", sans-serif;
}

.footer-col ul li a:hover {
    color: #f5f5f5;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ffeb3b;
}

.footer-bottom {
    padding-top: 10px;
    border-top: 1px solid #ffffff;
}
